.chapter1 section[role=main] > div {
    margin-left: 120px;
}

/*.list li:nth-child(odd) {
    color: yellow;
}*/

.important {
    /* styles */
}

.bigbold {
    font-weight: bold;
    font-size: xx-large;
}

.stitched {
    background-color: lightgray;
    border:2px dashed black;
	box-shadow: 0 0 0 4px lightgray;
    color: black;
    padding: 10px;
    border-radius: 4px;
    width:300px;
}


section {
    margin-top: 6px;
}

[id='lastName'] {
    /* styles */
}

    .dropCap::first-letter {
        font-size: 500%;
        float: left;   
        line-height: 0.8em;
        padding: 0 4px 0 0;       
        font-family: Serif;    
        font-weight: bold;
        position: relative;
        left: -3px;
    }

[data-win-control^='WinJS.UI'] {
    /* styles */
}

/*selector {
    rule;
    rule;
    rule;
}

selector {
    rule;
    rule;
    rule;
}*/

/*.chapter1 selector { rule; }*/
/*.chapter1 p {
    color: red;
}*/

/* CSS */
#myDiv {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.chapter1 h1, h2, h3, h4, h5 {
    margin-top: 10px;
}

#topDiv #childDiv h1, h2, h3, h4 {
    margin-top: 10px;
}

#checkboxes :checked {
    border: 1px solid red;
}

#myTable tr:nth-child(2n) {
    background-color: gray;
}

a:hover::after {
    content: attr(title);
    background-color: lightyellow;
    border: 1px solid black;
    color: black;
    position: relative;
    left: 10px; 
    white-space: nowrap; 
    padding: 5px;
}

